# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

# Other
package-lock.json
./package-lock.json
dist

#error file log
*./errorLog/*